In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/sales-of-a-supermarket/supermarket_sales.csv

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('/kaggle/input/sales-of-a-supermarket/supermarket_sales.csv')

In [4]:
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   Branch                   1000 non-null   object
 2   City                     1000 non-null   object
 3   Customer type            1000 non-null   object
 4   Gender                   1000 non-null   object
 5   Product line             1000 non-null   object
 6   Unit price               1000 non-null   float64
 7   Quantity                 1000 non-null   int64
 8   Tax 5%                   1000 non-null   float64
 9   Total                    1000 non-null   float64
 10  Date                     1000 non-null   object
 11  Time                     1000 non-null   object
 12  Payment                  1000 non-null   object
 13  cogs                     1000 non-null   float64
 14  gross margin percentage  1000 non-null   float64
 15  gross income             1000 non-null   float64
 16  Rating                   1000 non-null   float64
dtypes: float64(7), int64(1), object(9)
memory usage: 132.9+ KB

In [6]:
df.isnull().sum()

Invoice ID                 0
Branch                     0
City                       0
Customer type              0
Gender                     0
Product line               0
Unit price                 0
Quantity                   0
Tax 5%                     0
Total                      0
Date                       0
Time                       0
Payment                    0
cogs                       0
gross margin percentage    0
gross income               0
Rating                     0
dtype: int64

In [7]:
df['Date'] = pd.to_datetime(df['Date'])
df['Time'] = pd.to_datetime(df['Time'], format='%H:%M:%S').dt.time

ValueError: time data "13:08" doesn't match format "%H:%M:%S", at position 0. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [ ]:
df = df.drop_duplicates()

In [ ]:
# 1. Bar chart to represent gross income for branches
plt.figure(figsize=(10, 6))
sns.barplot(data=df, x='Branch', y='gross income', estimator=sum)
plt.title('Total Gross Income for Branches')
plt.xlabel('Branch')
plt.ylabel('Total Gross Income ($)')
plt.show()

In [ ]:
fig, axs = plt.subplots(3, 2, figsize=(15, 15))

# Gender distribution
gender_distribution = df['Gender'].value_counts()
axs[0, 0].pie(gender_distribution, labels=gender_distribution.index, autopct='%1.1f%%')
axs[0, 0].set_title('Gender Distribution')

# Gross income for Customer type
customer_type_gross_income = df.groupby('Customer type')['gross income'].sum()
axs[0, 1].pie(customer_type_gross_income, labels=customer_type_gross_income.index, autopct='%1.1f%%')
axs[0, 1].set_title('Gross Income Distribution by Customer Type')

# Gross income for City
city_gross_income = df.groupby('City')['gross income'].sum()
axs[1, 0].pie(city_gross_income, labels=city_gross_income.index, autopct='%1.1f%%')
axs[1, 0].set_title('Gross Income Distribution by City')

# COGS for Payment
cogs_payment = df.groupby('Payment')['cogs'].sum()
axs[1, 1].pie(cogs_payment, labels=cogs_payment.index, autopct='%1.1f%%')
axs[1, 1].set_title('Cost of Goods Sold Distribution by Payment')

# Gross income for branch
branch_gross_income = df.groupby('Branch')['gross income'].sum()
axs[2, 0].pie(branch_gross_income, labels=branch_gross_income.index, autopct='%1.1f%%')
axs[2, 0].set_title('Gross Income Distribution by Branch')

# Gross income for Product line
product_line_gross_income = df.groupby('Product line')['gross income'].sum()
axs[2, 1].pie(product_line_gross_income, labels=product_line_gross_income.index, autopct='%1.1f%%')
axs[2, 1].set_title('Gross Income Distribution by Product Line')

plt.tight_layout()
plt.show()